html {	background-color: #000;
    	color:	#0f0;
    	
    	background: url(/images/background.png) top;
	
	    font-family: Courier New, Monospace, sans;
    	text-align: left;
}

body {  width: 1024px;
        margin-left: auto;          /*  Centered on page */
        margin-right: auto;
        
        /* background-color: #000; */
}

#languagebar {  width: 1024px;
                height: 80px;       /*  Fixed height because images. */
                
                white-space: nowrap;
                
                border: solid 1px #0F0;
}

#java       {   width: 400px;        /*  Fixed width because images. */
                height: 80px;
                float: left;
        
                display: inline-block;
                white-space: normal;
}

#C          {   width: 400px;        /*  Fixed width because images. */
                height: 80px;
                float: left;
        
                display: inline-block;
                white-space: normal;
                
                border-left: solid 1px #0F0;
                border-right: solid 1px #0F0;
}

#main       {   width: 1024px;
                
                display: block;
                overflow: hidden;
                position: relative;
}

#codewrapper {  width: 634px;
                overflow: hidden;
        
                padding: 5px;
        
                display: block;
                float: left;
}

#code {	width: 656px;
        height: 650px;
        
        float: left;
        display: block;
        overflow: auto;
}

#upgrades { width: 370px;       /*  Fixed width because 360px images + 5px margins */
            height: 650px;
        
            padding: 5px;
        
            float: left;
            display: block;
            overflow: hidden;
}

#upgrades img { margin: 5px;
                margin-bottom: 0px;
}

#footer {       width: 1024px;
                height: 40px;
                float: left;
}

#autocomplete { background: url('/images/autocomplete.png') no-repeat;
}

#codegenerator { background: url('/images/codegenerator.png') no-repeat;
}

#efficiency { background: url('/images/efficiency.png') no-repeat;
}

/*
 *          ANIMATIONS for buttons
 */

#autocomplete:hover {
                background: -webkit-gradient(linear, left top, left bottom, from(top, rgba(255,255,255,0.0)), to(rgba(255,255,255,0.29))), url('/images/autocomplete.png'); /* Saf4+, Chrome */
                background: -webkit-linear-gradient(top, rgba(255,255,255,0.0), rgba(255,255,255,0.29)), url('/images/autocomplete.png'); /* Chrome 10+, Saf5.1+ */
                background: -moz-linear-gradient(top, rgba(255,255,255,0.0), rgba(255,255,255,0.29)), url('/images/autocomplete.png'); /* FF3.6+ */
                background: -ms-linear-gradient(top, rgba(255,255,255,0.0), rgba(255,255,255,0.29)), url('/images/autocomplete.png'); /* IE10 */
                background: -o-linear-gradient(top, rgba(255,255,255,0.0), rgba(255,255,255,0.29)), url('/images/autocomplete.png'); /* Opera 11.10+ */
                background: linear-gradient(top, rgba(255,255,255,0.0), rgba(255,255,255,0.29)), url('/images/autocomplete.png'); /* W3C */    
}

#codegenerator:hover {
                background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.0)), to(rgba(255,255,255,0.29))), url('/images/codegenerator.png'); /* Saf4+, Chrome */
                background: -webkit-linear-gradient(top, rgba(255,255,255,0.0), rgba(255,255,255,0.29)), url('/images/codegenerator.png'); /* Chrome 10+, Saf5.1+ */
                background: -moz-linear-gradient(top, rgba(255,255,255,0.0), rgba(255,255,255,0.29)), url('/images/codegenerator.png'); /* FF3.6+ */
                background: -ms-linear-gradient(top, rgba(255,255,255,0.0), rgba(255,255,255,0.29)), url('/images/codegenerator.png'); /* IE10 */
                background: -o-linear-gradient(top, rgba(255,255,255,0.0), rgba(255,255,255,0.29)), url('/images/codegenerator.png'); /* Opera 11.10+ */
                background: linear-gradient(top, rgba(255,255,255,0.0), rgba(255,255,255,0.29)), url('/images/codegenerator.png'); /* W3C */    
}

#efficiency:hover {
                background: -webkit-gradient(linear, left top, left bottom, from(top, rgba(255,255,255,0.0)), to(rgba(255,255,255,0.29))), url('/images/efficiency.png'); /* Saf4+, Chrome */
                background: -webkit-linear-gradient(top, rgba(255,255,255,0.0), rgba(255,255,255,0.29)), url('/images/efficiency.png'); /* Chrome 10+, Saf5.1+ */
                background: -moz-linear-gradient(top, rgba(255,255,255,0.0), rgba(255,255,255,0.29)), url('/images/efficiency.png'); /* FF3.6+ */
                background: -ms-linear-gradient(top, rgba(255,255,255,0.0), rgba(255,255,255,0.29)), url('/images/efficiency.png'); /* IE10 */
                background: -o-linear-gradient(top, rgba(255,255,255,0.0), rgba(255,255,255,0.29)), url('/images/efficiency.png'); /* Opera 11.10+ */
                background: linear-gradient(top, rgba(255,255,255,0.0), rgba(255,255,255,0.29)), url('/images/efficiency.png'); /* W3C */    
}


/*
 *          ^^^ ANIMATIONS for buttons ^^^
 */

.buyButton { width: 360px;
             height: 90px;
             display:block;
             margin-left: auto;
             margin-right: auto;
             margin-bottom: 5px;
}

#lines_total {	float: right;
}

.chart rect {   fill: green;
                stroke: #030;
}
    
#lpm {      background-color:black; 
}


/*
 *
 *    Scrollbars  
 *
 */

::-webkit-scrollbar {
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 1);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 255, 0, 0.29);
}

::selection {
	background: rgba(0,0,0,0.0); /* Safari */
	}
::-moz-selection {
	background: rgba(0,0,0,0.0); /* Firefox */
}
