html {	background-color: #000;
    	color:	#0f0;
	
	    font-family: Courier New, Monospace, sans;
    	text-align: left;
}

body {  width: 1024px;
        margin-left: auto;          /*  Centered on page */
        margin-right: auto;
        
        /* background-color: #000; */
}

#languagebar {  width: 1024px;
                height: 80px;       /*  Fixed height because images. */
                
                white-space: nowrap;
                
                border: solid 1px #0F0;
}

#java       {   width: 511px;        /*  Fixed width because images. */
                height: 80px;
                float: left;
                
                position: relative;
        
                display: inline-block;
                white-space: normal;
}

#C          {   width: 511px;        /*  Fixed width because images. */
                height: 80px;
                float: left;
                
                position: relative;
        
                display: inline-block;
                white-space: normal;
                
                border-left: solid 1px #0F0;
}

#main       {   width: 1024px;
                
                display: block;
                overflow: hidden;
                position: relative;
}

#codewrapper {  width: 634px;
                height: 644px;
                overflow: hidden;
        
                padding: 5px;
                margin-top: 5px;
                border: 1px solid #0F0;
        
                display: block;
                float: left;
                
                position: relative;
}

#spendableLines, #totalLines, #total_java, #total_c  {      display: block;
                                                            float: left;
                                                            margin-right: 15px;
                                                            margin-top: 3px;
}

#code {	width: 656px;
        height: 650px;
        
        font-size: 10pt;
        line-height: 18px;
        
        float: left;
        display: block;
        overflow: auto;
}

ul {    list-style-type: none;
        padding-left: 0;
        white-space: pre;
}

#upgrades { width: 370px;
            height: 650px;
        
            padding-top: 5px;
        
            float: right;
            display: block;
            overflow: hidden;
            
            position: relative;
}

#upgrades img { margin: 5px;
                margin-bottom: 0px;
}

#efficiency .upgradeText {  font-size: 0.7em;
}

#reverse .upgradeText { font-size: 0.75em;
}

#saving {   background-color: yellow;
            margin-top: 10px;
}

#footer {       width: 1024px;
                height: 40px;
                float: left;
}


/*      ANIMATIONS for buttons  */

.buyButton:hover, .languageButton:hover {
                background: -webkit-gradient(linear, left top, left bottom, from(top, rgba(0,255,0,0.61)), to(rgba(0,255,0,0.29))); /* Saf4+, Chrome */
                background: -webkit-linear-gradient(top, rgba(0,255,0,0.61), rgba(0,255,0,0.29));             /* Chrome 10+, Saf5.1+ */
                background: -moz-linear-gradient(top, rgba(0,255,0,0.061), rgba(0,255,0,0.29)); /* FF3.6+ */
                background: -ms-linear-gradient(top, rgba(0,255,0,0.61), rgba(0,255,0,0.29)); /* IE10 */
                background: -o-linear-gradient(top, rgba(0,255,0,0.61), rgba(0,255,0,0.29)); /* Opera 11.10+ */
                background: linear-gradient(top, rgba(0,255,0,0.61), rgba(0,255,0,0.29)); /* W3C */    
}

.buyButton { width: 360px;
             height: 90px;
             display:block;
             overflow: hidden;
             margin-right: 0;
             margin-left: auto;
             margin-bottom: 5px;
             
             border: 1px #0F0 solid;
             font-size: 2.4em;
             position: relative;
}

.upgradeText {  padding: 10px;
                line-height: 0.85em;
                float: left;
}

.languageText { font-size: 2.8em;
                line-height: 0.8em;
                padding: 10px;
}

.upgradePrice {     position: absolute;
                    left: 6px;
                    bottom: 6px;
                    float: left;
                    font-size: 0.6em;
                    line-height: 1em;
}

.upgradeAmount {    position: absolute;
                    right: 2px;
                    bottom: 0;
                    float: right;
                    font-size: 1.2em;
                    line-height: 1em;
}

.darkGreen {    color: #060;
}

.saveload { border: solid #0F0 1px;
            float:right;
            width: 167px;
            padding: 5px;
            margin-left: 4px;
            font-size: 12px;
            height: 14px;
            text-align: center;
}

.bold   {   font-weight: bold;
}

#lines_total {	float: right;
}

.chart rect {   fill: green;
                stroke: #030;
}
    
#lpm {      background-color:black; 
}

#globaljava {
    float: right;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#globalc {
    float: right;
    position: absolute;
    bottom: 0px;
    right: 0px;
}


/*
 *
 *    Scrollbars  
 *
 */

::-webkit-scrollbar {
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 1);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 255, 0, 0.29);
}

::selection {
	background: rgba(0,0,0,0.0); /* Safari */
	}
::-moz-selection {
	background: rgba(0,0,0,0.0); /* Firefox */
}
