html {	background-color: #111;
	color:	#0f0;
	
	font-family: Courier New, Monospace, sans;
	text-align: left;
}

#code {	background-color: #000;

	width: 70%;
	height: 60%;
	max-width: 1024px;
	margin-left: 20px;
	padding: 10px;
	padding-left: 20px;

	border: 1px solid #050;

}
