html {	background-color: #000;
    	color:	#0f0;
	
	    font-family: Courier New, Monospace, sans;
    	text-align: left;
}

body {  width: 1024px;
        margin-left: auto;          /*  Centered on page */
        margin-right: auto;
        
        /* background-color: #000; */
}

#languagebar {  width: 1024px;
                height: 80px;       /*  Fixed height because images. */
                
                white-space: nowrap;
                
                border: solid 1px #0F0;
}

#java       {   width: 400px;        /*  Fixed width because images. */
                height: 80px;
                float: left;
        
                display: inline-block;
                white-space: normal;
}

#C          {   width: 400px;        /*  Fixed width because images. */
                height: 80px;
                float: left;
        
                display: inline-block;
                white-space: normal;
                
                border-left: solid 1px #0F0;
                border-right: solid 1px #0F0;
}

#main       {   width: 1024px;
                
                display: block;
                overflow: hidden;
                position: relative;
}

#codewrapper {  width: 634px;
                overflow: hidden;
        
                padding: 5px;
        
                display: block;
                float: left;
}

#code {	width: 656px;
        height: 650px;
        
        float: left;
        display: block;
        overflow: auto;
}

#upgrades { width: 370px;       /*  Fixed width because 360px images + 5px margins */
            height: 650px;
        
            padding-top: 5px;
        
            float: right;
            display: block;
            overflow: hidden;
}

#upgrades img { margin: 5px;
                margin-bottom: 0px;
}

#footer {       width: 1024px;
                height: 40px;
                float: left;
}


/*
 *          ANIMATIONS for buttons
 */

.buyButton:hover {
                background: -webkit-gradient(linear, left top, left bottom, from(top, rgba(0,255,0,0.61)), to(rgba(0,255,0,0.29))); /* Saf4+, Chrome */
                background: -webkit-linear-gradient(top, rgba(0,255,0,0.61), rgba(0,255,0,0.29));             /* Chrome 10+, Saf5.1+ */
                background: -moz-linear-gradient(top, rgba(0,255,0,0.061), rgba(0,255,0,0.29)); /* FF3.6+ */
                background: -ms-linear-gradient(top, rgba(0,255,0,0.61), rgba(0,255,0,0.29)); /* IE10 */
                background: -o-linear-gradient(top, rgba(0,255,0,0.61), rgba(0,255,0,0.29)); /* Opera 11.10+ */
                background: linear-gradient(top, rgba(0,255,0,0.61), rgba(0,255,0,0.29)); /* W3C */    
}


/*
 *          ^^^ ANIMATIONS for buttons ^^^
 */

.buyButton { width: 360px;
             height: 90px;
             display:block;
             overflow: hidden;
             margin-right: 0;
             margin-left: auto;
             margin-bottom: 5px;
             
             border: 1px #0F0 solid;
             font-size: 2.4em;
             position: relative;
}

.upgradeText {  padding: 10px;
                line-height: 0.85em;
                float: left;
}

.upgradeAmount {    position: absolute;
                    right: 2px;
                    bottom: 0;
                    float: right;
                    font-size: 1.2em;
                    line-height: 1em;
}

.darkGreen {    color: #060;
}

#lines_total {	float: right;
}

.chart rect {   fill: green;
                stroke: #030;
}
    
#lpm {      background-color:black; 
}


/*
 *
 *    Scrollbars  
 *
 */

::-webkit-scrollbar {
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 1);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 255, 0, 0.29);
}

::selection {
	background: rgba(0,0,0,0.0); /* Safari */
	}
::-moz-selection {
	background: rgba(0,0,0,0.0); /* Firefox */
}
