html {	background-color: #111;
	color:	#0f0;
	
	font-family: Courier New, Monospace, sans;
	text-align: left;
}

body {  width: 90%;
        min-width: 800px;
        margin-left: auto;          /*  Centered on page */
        margin-right: auto;
        
        background-color: #00A;
}

#languagebar {  width: 100%;
                min-width: 800px;
                height: 80px;       /*  Fixed height because images. */
                max-height: 80px;
                background-color: #ff0;
                
                white-space: nowrap;
}

#java       {   width: 400px;        /*  Fixed width because images. */
                height: 80px;
                float: left;
                background-color: #0A0;
        
                display: inline-block;
                white-space: normal;
}

#C          {   width: 400px;        /*  Fixed width because images. */
                height: 80px;
                float: left;
                background-color: #A00;
        
                display: inline-block;
                white-space: normal;
}

#main       {   background-color: green;

                width: 100%;
                min-width: 800px;
                
                display: block;
                overflow: hidden;
                position: relative;
}

#code {	background-color: #000;

        width: 70%;
        min-width: 430px;
        height: 60%;
        min-height: 800px;
        
        padding: 5px;
        
        float: left;
        display: block;
        overflow: hidden;
}

#upgrades { background-color: #505;
            
            width: 370px;       /*  Fixed width because 360px images + 5px margins */
            min-height: 800px;
        
            float: left;
            display: block;
            overflow: hidden;
}

#upgrades img { margin: 5px;
                margin-bottom: 0px;
}

#footer {       width: 100%;
                min-width: 800px;
                height: 40px;
                background-color: #055;
                float: left;
}

#lines_total {	float: right;
}

.chart rect {   fill: green;
                stroke: #030;
}
    
#lpm {      background-color:black; 
}
